.title_type_center {
    width: 45%;
    margin: 0 auto;
    padding-top: 21%;
    padding-bottom: 32px;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .title_type_center {
        padding-top: 195px;
        width: 55%;
    }
}

@media screen and (max-width: 768px) {
    .title_type_center {
        padding-top: 115px;
        width: 70%;
    }
}

@media screen and (max-width: 320px) {
    /* стили для малого смартфона */
}
