.languages {
    min-width: 77px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    /* стили для планшета в альбомной ориентации */
}
@media screen and (max-width: 768px) {
    /* стили для планшета */
}

@media screen and (max-width: 320px) {
    .languages {
        max-width: 62px;
    }
}
