.nature__link {
    transition: 1.5s;
    padding-top: 12px;
    color:var(--main-font);
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    text-decoration-line: underline;
}

.nature__link:hover {
    cursor: pointer;
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
    .nature__link {
        transition: 1.5s;
        padding-top: 12px;
        color:var(--main-font);
        font-weight: 300;
        font-size: 18px;
        line-height: 1.5;
        text-decoration-line: underline;
    }
}
@media screen and (max-width: 768px) {
    .nature__link {
        transition: 1.5s;
        padding-top: 12px;
        color:var(--main-font);
        font-weight: 300;
        font-size: 18px;
        line-height: 1.5;
        text-decoration-line: underline;
    }
}

@media screen and (max-width: 320px) {
    .nature__link {
        transition: 1.5s;
        padding-top: 12px;
        color:var(--main-font);
        font-weight: 300;
        font-size: 16px;
        line-height: 1.5;
        text-decoration-line: underline;
    }
}
