.text_type_center {
    width: 35%;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .text_type_center {
        width: 45%;
    }
}
@media screen and (max-width: 768px) {
    .text_type_center {
        width:55%;
    }
}

@media screen and (max-width: 320px) {
    .text_type_center {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.2;
        width: 90%;
    }
}
