.main {
    padding-top: 56px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 1024px) {
    .main {
        padding-top: 48px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 768px) {
    .main {
        padding-top: 48px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 320px) {
    .main {
        padding-top: 48px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
}
