.title {
    font-weight: 700;
    font-size: 72px;
    line-height: 1.2;
}
@media screen and (max-width: 768px) {
    .title {
        font-weight: 700;
        font-size: 72px;
        line-height: 1.2;
    }
}

@media screen and (max-width: 320px) {
    .title {
        font-weight: 700;
        font-size: 32px;
        line-height: 1.2;
    }
}
