.footer__menu-list {
    width: 40%;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1024px) {
    .footer__menu-list {
        width: 40%;
        display: flex;
        flex-direction: row;
    }
}
@media screen and (max-width: 768px) {
    .footer__menu-list {
        width: 40%;
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width: 320px) {
    .footer__menu-list {
        display: flex;
        flex-direction: column;
    }
}
