.description__title {
    width: 73%;
}

@media screen and (max-width: 1024px) {
    .description__title {
        width: 81%;
    }
}
@media screen and (max-width: 768px) {
    .description__title {
        width: 97%;
    }
}

@media screen and (max-width: 320px) {
    .description__title {
        width: 98%;
    }
}
