.nature {
    padding-top: 92px;
    margin: 0 auto;
    max-width: 100%;
}

@media screen and (max-width: 1024px) {
    .nature {
        padding-top: 92px;
        margin: 0 auto;
        max-width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .nature {
        padding-top: 88px;
        margin: 0 auto;
        max-width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .nature {
        padding-top: 64px;
        margin: 0 auto;
        max-width: 100%;
    }
}
