.nature__url {
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    color: var(--grey);
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

@media screen and (max-width: 1024px) {
    /* стили для планшета в альбомной ориентации */
}
@media screen and (max-width: 768px) {
    /* стили для планшета */
}

@media screen and (max-width: 320px) {
    /* стили для малого смартфона */
}
