.promo__subtitle {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.5;
    text-align: center;
    padding-top: 32px;
}

@media screen and (max-width: 1024px) {
    .promo__subtitle {
        font-weight: 400;
        font-size: 30px;
        line-height: 1.5;
        text-align: center;
        padding-top: 32px;
    }
}
@media screen and (max-width: 768px) {
    .promo__subtitle {
        font-weight: 400;
        font-size: 30px;
        line-height: 1.5;
        text-align: center;
        padding-top: 32px;
    }
}

@media screen and (max-width: 320px) {
    .promo__subtitle {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        padding-top: 16px;
    }
}
