.promo__title {
    font-weight: bold;
    font-size: 96px;
    line-height: 1.2;
    text-align: center;
}


@media screen and (max-width: 1024px) {
    .promo__title {
        font-weight: bold;
        font-size: 96px;
        line-height: 1.2;
        text-align: center;
    }
}
@media screen and (max-width: 768px) {
    .promo__title {
        font-weight: bold;
        font-size: 96px;
        line-height: 1.2;
        text-align: center;
    }
}

@media screen and (max-width: 320px) {
    .promo__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 1.2;
        text-align: center;
    }
}
