.promo__image {
    padding-top: 64px;
    width: 100%;
}
@media screen and (max-width: 1024px) {
    .promo__image {
        padding-top: 56px;
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .promo__image {
        padding-top: 56px;
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .promo__image {
        padding-top: 40px;
        width: 100%;
    }
}
